{% extends 'base.html.twig' %}

{% block body %}

	<section>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Ajouter une Catégorie</button>
		{{ form_end(form) }}
	</section>

{% endblock %}
